.container {
    position: relative;
    z-index: 1;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    z-index: -1;
    opacity: 0.3;
    background-image: url('/syo2025.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    pointer-events: none;
}
